.App {
  text-align: center;
  background-color: lightgray;
  height: 100vh;
color: blue; }
  .App .App-header {
    margin-bottom: 25px; }
    .App .App-footer{
      margin-top: 25px;
      margin-right: 10px;
    }
